style.css

h1 {
  color: black; 
  font-family: Arial;
  text-align: center;

}


body {
  font-family: Arial;
  text-align: center;
}

.circle1 {
  border: 5px solid black;
  border-radius: 50%;
  background-color: #32a852;
  height:  100px;
  width: 100px;
}

.circle2 {
  border-radius: 50%;
  background-color: #033dfc; 
  height:  100px;
  width: 100px;
}

.circle3 {
  border: 5px solid black;
  border-radius: 50%;
  background-color: #8403fc; 
  height:  100px;
  width: 100px;
}