style.css

h1 {
  color: black; 
  font-family: Arial;
  text-align: center;

}


body {
  font-family: Arial;
  text-align: center;
}

.circle1 {
  background-color: #32a852;
  border: 5px solid black;
  border-radius: 50%;
  height:  100px;
  margin: 10px;
  width: 100px;
}

.circle2 {
  background-color: #033dfc;
  border-radius: 50%; 
  height:  100px;
  width: 100px;
}

.circle2:hover {
  fill: #DA4567;
}

.circle3 {
  background-color: #8403fc;
  border: 5px solid black;
  border-radius: 50%; 
  height:  100px;
  width: 100px;
}